# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_DATA_SOURCE=local

# local = sigue usando local/mock
# supabase = usa Supabase cuando los repositorios estén conectados
